/************************************ Page d'acceuil ************************************/

html {
  font-family: "Courier New", Courier, monospace;
}

header {
  background-color: #013b23;
  background-size: 100%;
  display: flex;
  justify-content: center;
}

header img {
  padding: 1em;
  border: 2em;
}

body {
  background-color: #ba845f;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}

                        /*************************************** Menu déroulant **************************************/

.dropdownmenu {
  background-color: #ba845f;
  width: 20%;
  height: 2rem;
}

.dropdownmenu,
.dropdownmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0%;
  padding: 0;
}

.dropdownmenu ul {
  display: none;
}

.dropdownmenu li {
  position: relative;
}

.dropdownmenu a {
  display: block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  padding: 3px 0px;
  text-align: center;
  text-decoration: none;
}

.dropdownmenu li:hover ul {
  display: block;
  position: absolute;
  top: 0px;
  left: 140px;
  z-index: 100;
}

.dropdownmenu ul a {
  display: block;
}

.dropdownmenu li {
  background-color: #ba845f;
  opacity: 2;
}

.dropdownmenu li a {
  color: #000000;
  font-size: large;
}

.dropdownmenu li:hover {
  background-color: #ffffff;
}

.dropdownmenu li:hover a {
  color: #ba845f;
}

.dropdownmenu ul li {
  background-color: #013b23;
}
.dropdownmenu ul li:hover {
  background-color: #000;
}

/************************************** Banniére promo ********************************/
#promotion {
  width: 100%;
  margin: 0;
}

/************************************ Presentation entreprise ***************************/

aside {
  
  width: 30%;
  height: 100%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  box-shadow: inset 2px 4px 10px 1px #013b23;
  color: #013b23;
}

aside > p {
  margin: 0.5rem;
}
#div {
  display: flex;
  width: 70%;
  
}
article p {
  text-align: justify;
}

/********************************** Menu de fin **********************************/

/************************************ Page tableau ************************************/
h1 {
  text-align: center;
}
table {
  table-layout: fixed;
  width: 100%;
  border: #000000 solid 0.2rem;
}

td img {
  border-radius: 40% 40% 40% 40%;
}
thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 6%;
}

thead th:nth-child(3) {
  width: 70%;
}

thead th:nth-child(4) {
  width: 50%;
}
thead th:nth-child(5) {
  width: 50%;
}
thead th:nth-child(6) {
  width: 50%;
}
th,
td {
  padding: 8px;
}

th {
  letter-spacing: 1rem;
}

td {
  letter-spacing: 1rem;
}

tbody {
  text-align: center;
  color: #000000;
}
thead {
  color: #000000;
}

footer ul li {
  display: block;
  padding-block: 0.5rem;
}

/************************************ Contact ************************************/

#contact {
  display: flex;
  justify-content: center;
  background-color: #013b23;
  color: #ba845f;
  margin: 0;
}

p {
  font-weight: bolder;
}

form {
  display: flex;
  flex-direction: column;
  border: #000000 0.1rem solid;
}

fieldset {
  border: #000000 solid 0.1rem;
}

input {
  background-color: #ba845f;
  border-color: #000000;
}

legend {
  font-weight: bolder;
}

label {
  font-weight: bold;
}

#sujet {
  background-color: #ba845f;
  font-weight: bold;
  border-color: #000000;
}

#question {
  background-color: #ba845f;
  border-color: #000000;
}

        /********************************************************************responsive******************************************************************************/

        